@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    font-family: 'Oswald', sans-serif;
    background-image:url("corner.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}
.section-index{
    grid-area: section-index;
}
footer{
    grid-area: footer;
}
.aside-index{
    grid-area:aside-index
}

.main, .section-index{
    display: grid;
}


/*Mobile First*/

@media screen and (min-width: 320px){
    .main{
        grid-template-columns: auto;
        grid-template-rows:auto auto auto auto ;
        grid-column-gap:10px;
        grid-template-areas: "header""nav" "section-index" "footer" ;
        }

    .titulos{
        font-size: 50px;
        text-align: center;
        margin-bottom: 0px;
                }
    .subtitulo-index2{
        margin-top:10px;
        margin-bottom: 10px;
    }
    .slogan{
        font-size: 18px;
        margin: 0px 0px 0% 0px;
        text-align: center;
        height: 50px;
        }
    ul{
        list-style-type: none;
        font-size:15px;
        
    }
    .navegador-ul{
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 15px;
    }
    ul a{
        text-decoration: none;
        color: white;
        background-color: rgba(27, 19, 6, 0.562);
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0px;
    }
    
    .buscador{
        margin-left: 0px;
        width: 415px;
        text-align: center;
        }       
    
    div.buscador ul li{     
        display: inline-flex;
        justify-content: space-evenly;
            }
    hr{
        color:rgb(0, 0, 0);
        border-color: #000;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 0px;
        border-style: bold;
    }
    .subtitulo-index{
        display: flex;
        justify-content: center;
        font-size: 25px;
        width: 400px;
        height: 90px;
        font-size: 20px;
        margin-bottom: 2px
        }
    .subtitulos{
        align-content: 
        ;
    }
    .videos-index{
        display: grid;
        grid-template-rows: auto auto auto;
        margin-left: 42px;
        grid-row-gap:10px
    }
    .section-index{
        display: grid;
        grid-template-rows: auto auto;
    }
    iframe{
        border-color: rgba(0, 0, 0, 0.842);
        border-width: 4px;
    }

    .parrafo-index{
        text-align: center;
        margin-left: 15px;
        margin-right: 20px;
        background-color: rgba(255, 255, 255, 0.459);
        border-radius: 8%;
    }
    .redes{
        font-size: 30px;
        text-align: center;
    }
    
    .link-redes{
       text-align: center;
        padding-right: 45px;
         }
    ul.link-redes li{
    display: inline;
    
    }
    /*Nosotros*/

    .nombres{
        font-size: 35px;
        text-align: center;
    }
    
    .parrafo-jano{
        background-color: rgba(255, 255, 255, 0.459);
        border-radius: 6%;
        font-size: 20px;
        text-align: justify;
        margin-left: 19px;

    }
    .parrafo-eros{
        background-color: rgba(255, 255, 255, 0.459);
        border-radius: 6%;
        font-size: 20px;
        text-align: justify;
        margin-left: 19px;
    }
    .jano-img{
        width: 230px;
        height: 400px;
        border-radius: 4%;
    }

    .Jano{
        display: flex;
        justify-content: center;
    }
    .eros-img{
        width: 230px;
        height: 500px;
        border-radius: 4%;
    }
    .Eros{
        display: flex;
        justify-content: center;
    }

    /*Videos*/
    .videos-videos{
        display: grid;
        grid-template-rows: auto auto auto;
        justify-content: center;
        grid-row-gap: 10px;
        margin-bottom: 17px;
        margin-left: 22px;
    }
    .nombreVideos{
        font-size: 25px;
        text-align: center;
        margin-bottom: 13px;
    }
    /*contacto*/
    
    legend{
        text-align: center;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .LegendContacto{
        grid-area: LegendContacto;
    }
    .nombre-contacto{
        grid-area: nombreContacto;
    }
    .input-contacto{
        grid-area: inputContacto;
    }
    .mail-contacto{
        grid-area: mailContacto;
    }
    .texto-contacto{
        grid-area: textoContacto;
    }
    .botones-contacto{
        grid-area: botonesContacto;
    }
    .input-nombre{
        grid-area: inputNombre;
    }
    .input-mail{
        grid-area: inputMail;
    }

    .formulario-contacto{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas: 
        "LegendContacto LegendContacto"
         "nombreContacto inputNombre " 
         "mailContacto inputMail" 
         "textoContacto inputContacto"
         "botonesContacto botonesContacto"; 
        justify-content: space-between;
        font-style: bold;
        }
           .botones-contacto{
               justify-self: right;
           }
    .fieldset-contacto{
        border-style:bold;
        border-width: 15%;
        border-radius: 3%;
        border-color: #000;
        height: 333px;
        background-color: rgba(255, 255, 255, 0.459);
        margin-left: 18px;
        }

    .formulario1{
        margin-top: 50px;
        padding-bottom: 50px;
    }
        
    /*seguidores VIP*/
    
    .subtitulo-vip{
    text-align: center;
    margin-top: 5px;
    }

    .sudavip{
        font-size: 27;
        text-align: center;
    }
    .explicacion-vip{
        margin-left: 19px;
    }
    .legendVIP{
        grid-area: legendVIP;
    }
    .input-mailVIP{
        grid-area:input-mailVIP
    }
    .dniVIP{
        grid-area:dniVIP
    }
    .inputDNI{
        grid-area:inputDNI
    }
    .nacionalidadVIP{
        grid-area:nacionalidadVIP
    }
    .inputNacionalidad{
        grid-area:inputNacionalidad
    }
    .nacimientoVIP{
        grid-area:nacimientoVIP
    }
    .inputNacimiento{
        grid-area:inputNacimiento
    }
    .domicilioVIP{
        grid-area:domicilioVIP
    }
    .inputDomicilio{
        grid-area:inputDomicilio
    }
    .medioDePago{
        grid-area:medioDePago
    }
    .botonesVIP{
        grid-area:botonesVIP
    }
    .mail-vip{
        grid-area: mail-vip;
    }
    .input-mailVIP{
        grid-area: input-mailVIP;
    }

    .formulario-VIP{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas: 
        "legendVIP legendVIP"
        "nombreVIP inputNombreVIP"
        "mail-vip input-mailVIP"
        "dniVIP inputDNI"
        "nacionalidadVIP inputNacionalidad"
        "nacimientoVIP inputNacimiento"
        "domicilioVIP inputDomicilio"
        "medioDePago medioDePago"
        "botonesVIP botonesVIP"
        ;
    }

    .fieldset-VIP{
        border-style:bold;
        border-width: 15%;
        border-radius: 3%;
        border-color: #000;
        height: 350px;
        background-color: rgba(255, 255, 255, 0.459);
        margin-left: 18px;
    }

    .medioDePago{
        width: 200px;
        margin-left: 125px;
    }
    .botonesVIP{
        display: flex;
        justify-content: center;

    }
}   

@media screen and (min-width: 1200px){
     .titulos{
        font-size: 80px;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 0px;
     }
     .slogan{
        font-size: 25px;
        text-align: center;
        margin-top: 0px;}
    ul{
        font-size: 23px;
    }
    div.buscador{
        display: flex;
        width: 800px;
        margin-left: 130px;
        }
    ul.navegador-ul li{
        padding: 0 15px 0 15px;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    .subtitulo-index{
        display: block;
        text-align: center;
        width: 1200px;
        font-size: 40px;
        margin-left: 70px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .subtitulo-index2{
        margin-top: 10px;
        text-align: center;
        width: 1200px;
        margin-left: 275px;
            }
    .videos-index{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        margin-right: 60px;
        }
    .parrafo-index{
        font-size: 23px;
        margin:30px 90px 30px 90px;
    }
    .redes{
        font-size:40px;
        margin-top: 17px;
    }
    ul.link-redes li{
        padding:0 15px 0 15px
    }

    /*Nosotros*/

    .Jano{
        grid-area: Jano;
        display: flex;
        justify-content: flex-start;
        margin-right: 50px;
        margin-left: 350px;
        padding-left: 300px;
        
    }
    .parrafo-jano{
        grid-area: parrafo-jano;
        background-color: rgba(255, 255, 255, 0.459);
        border-radius: 8%;
        font-size: 23px;
        margin-right: 300px;
        }
    
    .nosotros-jano{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "Jano" "parrafo-jano";
        justify-content: space-evenly;
    }
    .Jano2{
        margin-left: 0px;
        margin right: 300px;
        padding-right: 300px;
        margin-top: 80px;
    }
    
    .Eros{
        grid-area: Eros;
        display: flex;
        justify-content: flex-start;
        margin-right: 50px;
        margin-left: 350px;
        padding-left: 300px;
        
    }
    .parrafo-eros{
        grid-area: parrafo-eros;
        background-color: rgba(255, 255, 255, 0.459);
        border-radius: 8%;
        font-size: 23px;
        margin-right: 300px;
        }
    
    .nosotros-eros{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "Eros" "parrafo-eros";
        justify-content: space-evenly;
    }
    .Jano2{
        margin-left: 0px;
        margin right: 300px;
        padding-right: 300px;
        margin-top: 80px;
    }
    .nombres{
        font-size: 35px;
        font-weight: bold;
    }

    /*Videos*/

    .videos-videos{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        margin-top: 150px;
        padding-bottom: 150px;
        
    }

    .nombreVideos{
        font-size: 30px;
        font-weight: bold;
    }

    /*Contacto*/

    .fieldset-contacto{
        margin-left: 700px;
        margin-right: 700px;
        width: 500px;
    }
    

    .formulario1{
        margin-top: 100px;
        padding-bottom: 120px;
        font-size: 23px;
    }

    /*VIP*/

    .sudavip{
        font-size: 25px;
        text-align: center;
        margin-top: 10px;
    }
    .explicacion-vip{
        margin: 0 100px 0 100px;
    }

    .fieldset-VIP{
        margin: 0 700px;
        height: 380px;
    }
    .formulario2{
        font-size: 23px;
    }

    .medioDePago{
        margin-left: 250px;
        width: 200px;
    }




}   


    