@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Poppins:wght@100&display=swap');

body{
    font-family: 'Oswald', sans-serif !important;
    background-image:url("corner.jpg")!important;
    min-height: 100% !important; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0px;
}

.navbar-brand{
    font-size: 40px;
}   

.navbar-nav{
    font-size: 20px;
}
.navbar{
    background-color: black;
    
}


.navbar-expand-lg .navbar-collapse{
    margin-right: 200px;
}

.slogan{
    margin: 0 490px;
    
    

}
.slogan2{
    font-size:17px
}
.subtitulo{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.videos{
    width: 854px;
    height: 480px;
}

.icon{
    font-size: 30px;
}
/*Nosotros*/
.fotos{
    width: 300px;
}
.jano-img{
    width: 300px;
    height: 500px;
    border-radius: 3%;
    border:solid;
    border-color: white;
    margin-left: 20px;
}
.contenedor-jano{
    width: 800px;
    border-radius: 3%;
    margin-top: 15px !important;
       
}
.jano-card{
    width: 850px !important;
    height: 710px !important;
    margin-left: 513px !important;
    padding: 0px !important;
    border-radius: 3%;
}
.jano-body{
    margin-top: 00px !important;
    padding-top: 0px;
    height: 00px !important;
    
}
.jano-title{
    height: 100px !important;
    width: 810px !important;
    font-size:80px;
    margin-top: 20px !important;
    padding: 3px !important;
    border-radius: 10px !important;
}
.parrafo-jano{
    margin: 10px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.eros-img{
    width: 300px;
    height: 600px;
    border-radius: 3%;
    border:solid;
    border-color: white;
    margin-left: 20px;

}
.eros-card{
    width: 850px !important;
    height: 813px !important;
    margin-left: 513px !important;
    padding: 0px !important;
    border-radius: 3%;
}

/*Videos*/

.conjunto-videos{
    
}
.banner-youtube{
    width: 100%;
    height: 25%;
    padding: 0%;
}
.logo{
    width: 73px;
    border-radius: 50%;
    
}

.fondobtn{
    width: 1686px;
}
.fondobtn{
    height: 100px;
    background-image: url("fondobtn.png");
    margin:0 109px;
}
.links-unirse{
    height: 35px;
    width:80px;
    margin-left: 867px;
    margin-top: 26px;
    padding: 0%;
    
}
.link-suda{
    height: 80px;
    width: 80px;
    margin-left: 270px;
    margin-top: 6px;
    padding:0%
}
.link-susc{
    width: 115px;
    height:35px ;
    padding: 0%;
    margin-left: 9px;
    margin-top: 23px;

}
/*Contacto*/

.formulario1{
    background-color: white ;
    
}










