/*Contacto*/
.navbarContacto {
  height: 11%;
}

ul.navbar-nav li {
  padding: 0 10px;
}

ul.navbar-nav li a {
  font-size: 23px;
}

.bannerContacto {
  display: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(to right, rgba(39, 38, 38, 0.404), rgba(0, 0, 0, 0.445)), url("/images/bannerContacto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;
}

.bannerContacto div {
  width: 100%;
}

.bannerContacto div h1 {
  font-size: 150px;
  color: white;
  padding-top: 0vh;
  margin: 15vh auto 0 auto;
  border: solid;
  height: 20vh;
}

.bannerContacto div {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10vh;
  margin: auto;
}

.bannerContacto div .motivos {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  height: 30vh;
  border-radius: 2px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
  background: #d7d6dab7;
  color: #0a0000;
  font-size: 1.2rem;
}

.sectionContacto {
  height: 100%;
  margin-top: 5%;
}

/*Nuevo formulario*/
.formularioNuevo {
  width: 750px;
  margin: 0 auto;
  padding: 0%;
}

.formularioNuevo h1 {
  padding: 10px;
  font-weight: 350;
  font-size: 45px;
  color: black;
}

.formularioNuevo form div div label {
  color: black;
  font-size: 18px;
}

.formularioNuevo form div div input {
  color: black;
  background-color: black;
}

.input-field input[type=text], .input-field input[type=email] {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

p label input {
  background-color: black;
}

p label span {
  color: black;
}

.botonForms {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  padding: 0px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
  border-width: 3px;
  border-color: #000000;
}

.checkEmpre {
  font-size: 18px !important;
}

.div-checkbox {
  display: inline-flex;
}

.div-botones {
  display: inline-flex;
  margin-left: 300px !important;
}

.div-botones button {
  margin: 1px;
}

/*Cambiando de color inputs focus*/
[type="checkbox"] + span:not(.lever):before {
  border: 2px solid black;
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid #040a0a;
  border-bottom: 2px solid #060a0a;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: black;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  color: black;
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #000;
}

input[type=email]:not(.browser-default):focus:not([readonly]) + label {
  color: black;
}

input[type=email]:not(.browser-default):focus:not([readonly]) {
  color: black;
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #000;
}

input.valid[type=text]:not(.browser-default) {
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: 0 1px 0 0 #050505;
  box-shadow: 0 1px 0 0 #020202;
}

input.invalid[type=email]:not(.browser-default) {
  border-bottom: 1px solid #080707;
  -webkit-box-shadow: 0 1px 0 0 #020202;
  box-shadow: 0 1px 0 0 #0c0c0c;
}
